.name {
    font: 600 20px Arial;
    color: #000000;
    padding: 8px;
    text-align: center;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #EC801C;
    z-index: 10;
    padding: 12px;
}

.navbar-container {
    float: right;
    align-content: center;
    color: #000000;
    text-decoration: none;
}

.navbar-link {
    display: inline-block;
    font: 200 16px Arial;
    margin: 10px 0 -20px 0;
}

.navbar-button {
    display: inline-block;
    margin: 0 20px -20px 0;
}

.navbar-button-link {
    font: 200 18px Arial;
    text-decoration: none;
    color: #000000;
    margin: 0 20px -20px 0;
}

.navbar-button-link:visited {
    font: 200 18px Arial;
    text-decoration: none;
    color: #000000;
    margin: 0 20px -20px 0;
}

.navbar-logo {
    float: left;
    color: #000000;
    text-decoration: none;
    font-size: 35px;
    font-weight: bold;
    margin-right: 30px;
}

.navbar-logo a:visited {
    color: #000000;
}

body {
    background-color: #F4F1EC;
}

.container {
    position: relative;
    padding-top: 90px;
}

.form-wrapper {
    text-align: center;
}

.form {
    margin: auto;
    max-width: 400px;
}

.form-label {
    font: 300 16px Arial;
    float: left;
    padding: 8px 0 0 4px;
}

.form-name {
    font: 600 20px Arial;
    color: #000000;
    padding: 8px;
}

.form-input {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
}

.form-radio {
    font: 300 16px Arial;
    float: left;
    margin-bottom: -10px;
}

.button-primary {
    color: #000000;
    background-color: #EC801C;
    text-decoration: none;
    font: 400 14px Arial;
    padding: 6px 8px;
    margin: 8px;
    border: 1px solid #000000;
    border-radius: 4px;
    cursor: pointer;
}

.button-primary:hover {
    color: #000000;
    background-color: #ED7405;
    text-decoration: none;
    padding: 6px 8px;
    margin: 8px;
    border: 1px solid #000000;
    border-radius: 4px;
    cursor: pointer;
}

.button-light {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    font: 400 14px Arial;

    color: #000000;
    background-color: #FFFFFF;
    padding: 6px 8px;
    margin: 8px 8px 8px 0px;
    border: 1px solid #000000;
    border-radius: 4px;
    cursor: pointer;
}

.button-light:hover {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    font: 400 14px Arial;

    color: #000000;
    background-color: #F2F2F2;
    padding: 6px 8px;
    margin: 8px 8px 8px 0px;
    border: 1px solid #000000;
    border-radius: 4px;
    cursor: pointer;
}

.alert {
    margin: auto;
    max-width: 372px;
    color: #9e1f16;
    background-color: #ffd4d1;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #9e1f16;
}

.invalid-form-feedback {
    color: #9e1f16;
    text-align: left;
    margin: 4px 0px -20px 4px;
}

.link-button {
    font: 200 16px Arial;
    background: none;
    border: none;
    color: #000000;
    text-decoration: underline;
    cursor: pointer;
}

.link-button:focus {
    outline: none;
}

.table {
    border: 1px solid #000000;
    border-radius: 8px;
    background-color: #FFFFFF;
    margin: 0 1% 0 1%;
    width: 98%;
}

th {
    font: 600 16px Arial;
    padding: 8px 0 8px 0;
}

tr {
    height: 50px;
    border-bottom: 1pt solid #000000;
    font: 200 16px Arial;
    text-align: center;
}

.button-wrapper {
    text-align: center;
}

.button-wrapper form {
    display: inline-block;
}

.side {
    height: 100%;
    width: 25%;
    position: fixed;
    left: 0;
    margin-left: 1%;
}

.side-td {
    padding: 12px;
}

.main {
    margin-left: 26%;
}

.pagination {
    display: inline-block;
}

.pagination a {
    font: 200 16px Arial;
    color: black;
    background-color: #FFFFFF;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #CCCCCC;
}

.pagination a:hover {
    background-color: #F4F1EC;
    color: #000000;
    border: 1px solid #CCCCCC;
}

.pagination span {
    font: 200 16px Arial;
    color: #000000;
    background-color: #FFFFFF;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #CCCCCC;
}

.pagination span.current {
    color: #000000;
    background-color: #EC801C;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination span:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination span:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
